*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(../unwind/image/bg.jpg);
}

.form-container{
position: absolute;
top: 25%;
left: 35%;
background-color: #fff;
border-radius: 10px;
display: flex;
height: 300px;
width: 400px;
justify-content: center;
align-items: center;
}

.form-container .form-wrap{
    background: #fff;
    padding: 15px 20px;
    width: 40px;
}

.form-container .form-wrap h2{
    text-align: center;
    margin: 0px 0px 20px;
    font-size: 20px;
}

.form-container .form-wrap .form-box{
margin:0px 0px 15px;
}

.form-container .form-wrap .form-box input[type="text"]{
border-radius: 3px;
padding: 5px 8px;
width: 100%;
border: 1px solid #353535;
}

.form-container .form-wrap .form-submit{
    display: flex;
    justify-content: center;
}

.form-container .form-wrap .form-submit input[type="submit"]{

    padding: 20px 10px;
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}

