*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../unwind/image/bg.jpg);
    background-size: cover;
background-attachment: fixed;
}

.heading{
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 100px;
}

#head{
    font-size: 1.8cm;
}
#subheading{
    font-size: 18px;
    margin-top: 10px;   
}
.content{
    width: 90%;
    margin: 10px;
    padding-bottom:90px;
}
form{
    background-color:azure;
    padding-top: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 60px;
}

form .box{
    width: 99%;
    height: 2.8cm;
    position: relative;
    bottom: 10px;
    border: 0;
    border-radius: 5px;
}

.button{
border-radius: 10px;
height: 50px;
width: 100px;
background-color:lightpink;
}
